# Скомпилированные файлы и кэш сборки
bin/
obj/

# Файлы настроек пользователя (Visual Studio / VS Code)
.vs/
.vscode/
*.user
*.suo
*.userprefs

# Базы данных (чтобы случайно не слить переписку или пароли)
*.db
*.sqlite
*.log

# MacOS мусор
.DS_Store